@charset "UTF-8";

img {
  width: 200px;
  max-width: 50%;
  height: auto;
  /* height: 100px; */
}
.test1 {
  width: 200px;
  background: skyblue;
}
.test2 {
  width: 100px;
  background: skyblue;
}
.nomin {
  background: gray;
  width: 50%;
}
.min {
  background: gray;
  width: 50%;
  min-width: 100px;
}
.nomin1 {
  background: gray;
  width: 80%;
}
.min1 {
  background: gray;
  width: 80%;
  max-width: 100px;
}
