@charset "UTF-8";

/* --------------------------------
 * base
 * --------------------------------*/
 html {
   font-size: 62.5%;
 }
 body {
  color: ;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
 }
*,::after,::before {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active  {
  color: ;
  text-decoration: none;
}

/* --------------------------------
 * parts
 * --------------------------------*/
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.heading {
  padding: 10px;
  background: url("../images/bg-slash.gif");
  letter-spacing: 1px;
  font-size: 1.8rem;
}
.hidden {
  display: none;
}


/* --------------------------------
 * header
 * --------------------------------*/
.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  margin-bottom: 30px;
}
.logo {
  width: 230px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.logo a{
  display: block;
}
.global_nav {
  text-align: center;
}
.global_nav .nav_item{
  display: inline-block;
  margin-right: 50px;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
.global_nav .nav_item a{
  display: block;
  color: black;
}
.global_nav .nav_item a:hover{
  background-color:#dc143c;
  border-radius: 5px;
  color: #fff;
}
/* --------------------------------
 * wrapper
 * --------------------------------*/
 .wrapper {
   width: 970px;
   margin: 0 auto;
 }

/* --------------------------------
 * main
 * --------------------------------*/
.main {
  float: left;
  width: 670px;
}
/* --------------------------------
 * hot-topic
 * --------------------------------*/
 .hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
 }
 .hot-topic:hover{
  opacity: 0.8;
 }
 .hot-topic .image {
  float: left;
  width: 50%;
  height: 100%;
 }
 .hot-topic .content {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  background-color: #191970;
 }
 .hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  display: inline-block;
  width: 120px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #fff;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
 }
 .hot-topic .title {
  position: absolute;
  top: 90px;
  font-size: 1.8rem;
  line-height: 30px;
  padding: 10px 50px;
  color: #fff;
  letter-spacing: 1px;
 }
 .hot-topic .desc {
  position: absolute;
  top: 150px;
  left: 40px;
  color: #fff;
  line-height: 20px;
  padding: 30px 10px;
}

/* --------------------------------
 * NEWS
 * --------------------------------*/
.news_list {
  padding: 10px;
}
.news_list li{
  list-style-type: none;
}
.news_item {
  display: block;
  font-size: 0;
  margin-bottom: 10px;
  height: 40px;
}
.news_item:hover{
  opacity: 0.8;
}
.news_item .date{
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 10px;
}
.news_item .category{
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background: red;
  font-size: 1.1rem;
  margin-right: 10px;
}
.news_item .category.news{
  background: navy;
}
.news_item .title{
  display: inline-block;
  font-size: 1.2rem;
  color: black;
}

/* --------------------------------
 * article
 * --------------------------------*/
 .article_box {
  display: block;
  width: 320px;
  height: 350px;
  position: relative;
 }
 .article_box:nth-of-type(odd){
  float: left;
 }
 .article_box:nth-of-type(even){
  float: right;
 }
 .article_box:hover {
  opacity: 0.8;
 }
 .article_box .title{
  padding: 20px 10px;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
 }
 .article_box .desc{
  padding: 0px 10px 20px;
  color: black;
 }
 .article_box .date{
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 5px 20px;
  font-size: 1.0rem;
  font-weight: bol4d;
  text-align: center;
  background-color: aquamarine;
 }

/* --------------------------------
 * sidemenu
 * --------------------------------*/
.sidemenu {
  float: right;
  width: 260px;
}
/* --------------------------------
 * ranking
 * --------------------------------*/
.ranking {
  font-size: 0;
}
.ranking .ranking_item{

}
.ranking .ranking_item a{
  display: block;
  width: 100%;
  height: 100px;
}
.ranking .ranking_item a:hover{
  opacity: 0.8;
}
.ranking .image{
  display: inline-block;
  width: 17%;
}
.ranking .order{
  width: 10%;
}
.ranking .order::after{

}
.ranking .desc{
  display: inline-block;
  color: black;
  font-size: 1.2rem;
  width: 73%;
  height: 100%;
}

/* --------------------------------
 * document
 * --------------------------------*/
 .document {
  padding: 15px;
 }
.document .document_box {
  margin-bottom: 30px;
  list-style-type: none;
}
.document .document_title {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.document .document_title::before {
  content: '';
  border-left: 5px solid red ;
  margin-right: 10px;
  font-size: 12px;
}
.document .document_list {
  padding-left: 30px ;
}
.document .document_item {
  list-style-type: none;
  background-image: url("../images/arrow.gif") no-repeat;
  margin-bottom: 15px;
}
.document .document_item a{
  text-decoration: none;
  color:  #ff6347;
;
}
..document .document_item:hover{
  text-decoration: underline;
}

/* --------------------------------
 * search
 * --------------------------------*/
.search {
  font-size: 0;
  width: 260px;
  background: #d3d3d3;
  padding: 15px;
  border-top: 30px;
}
.search .search_box {
  border: 0;
  width: 80%;
  height: 25px;
  padding: 10px;
}
.search .search_button {
  border: 0;
  width: 20%;
  height: 25px;
  background-color:red;
  color: #fff;
  cursor: pointer;
}
.search .desc {
  margin-top: 10px;
  font-size: 1.2rem;
}

/* --------------------------------
 * footer
 * --------------------------------*/
.footer{
 padding: 20px 0 30px;
 background-color: #191970;
}
.footer_list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
}
.footer_list > li + li {
  border-left: 1px solid red;
}
.footer_item {
  display: inline-block;
  margin-right: 15px;
  padding-left: 20px;
}
.footer_item a {
  display: block;
  border-bottom: 1px dashed #ccc;
  color: gray;
}
.footer_item a:hover {
  color: blue;
}
.copyright {
  margin-top: 30px;
  font-size: 1.1rem;
  color: #ccc;
  text-align: center;
}
